body{
  margin: 0;
}

#faq{
  
  background-color: rgb(202, 255, 255);
}
.question-style {
  background-color:rgb(212, 212, 254);
}
header {
  background-color: rgb(43, 167, 255);
  min-height: 13vh;
  overflow: auto;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size:0.8cm ;
  font-family:'Times New Roman', Times, serif
}

center{
 margin-bottom: 1vw;
}


main {
  background-color:rgb(202, 255, 255);
  min-height: 13vh;
  overflow: auto;
  text-align:left;

}

 

footer {
height: 12vh;
background-color:#28b3f9;
text-align: center;
  


display:flex;
align-items: center;
justify-content: center;
  color: rgb(255, 255, 255);
  font-size:0.5cm ;
}

.FAQ label{
margin: 2em 2em 2em 3vw;
width:15vw;
 
}

.FAQ input{
display:block;
margin: -1.5em 1em 1em 14.5vw;
width:8vw;
 
}

h4,p{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 1vw;
  background-color:rgb(255, 232, 209);
}

p{
  margin-bottom: 10px;
}